body {
    background-color: rgb(154, 117, 223);
}

.container {
    display: flex;
    height: auto;
    width: auto;
    background-color: rgb(154, 117, 223);
}

.menu {
    color: whitesmoke;
    background-color: rgba(38, 10, 112);
    padding: 15px;
    max-width: auto;
    height: auto;
}

.grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.grid-cont {
    display: grid;
    width: 500px;
    background-color: #5019e7;
    padding: 15px;
}
  .grid-item {
    background-color: rgb(74, 45, 163);
    border: 7px solid rgb(38, 10, 112);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    font-size: 20px;
    color: whitesmoke;
    transition: 0.5s;
}

.grid-item:hover {
    padding: 40px;
    background-color: rgb(94, 61, 194);
    font-size: 25px;
}

.img {
  border: 7px solid rgb(38, 10, 112);
}

.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }