body {
    background-color: rgb(154, 117, 223);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    height: 100%;
    width: 100vw;
    background-color: rgb(154, 117, 223);
    gap: 7px;
    overflow-y: hidden;
}

.menu {
    color: whitesmoke;
    background-color: rgba(38, 10, 112);
    padding: 15px;
    border-radius: 5px;
    max-width: auto;
    max-height: auto;
}

.panel {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 7px
}

.wrap {
  overflow-y: scroll;
  height: 90%;
}

.grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 7px;
    overflow-y: scroll;
    height: 90%;
    
}

.grid-cont {
    display: grid;
    width: 500px;
    background-color: #5019e7;
    padding: 15px;
}
  .grid-item {
    background-color: rgb(74, 45, 163);
    border: 7px solid rgb(38, 10, 112);
    border-radius: 5px;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    color: whitesmoke;
    transition: 0.5s;
}

.grid-item:hover {
    padding: 40px;
    background-color: rgb(94, 61, 194);
    font-size: 25px;
}

.icon {
  border: 7px solid rgb(38, 10, 112);
  border-radius: 10px;
}

.img {
  border: 7px solid rgb(38, 10, 112);
  border-radius: 10px;
}

.apply {
  background-color: whitesmoke;
  border: rgb(154, 117, 223);
  border-radius: 5px;
  height: 35px;
  align-content: center;
}

.search {
  background-color: rgb(154, 117, 223);
  border: 7px solid rgb(74, 45, 163);
  border-radius: 5px;
  padding: 20px;
  height: 35px;
  align-content: center;
  font-size: medium;
}

/* HOVER NOT FUNCTIONAL */
.search hover {
  background-color: rgb(94, 61, 194);
}

.navinput {
  resize: none;
  height: 35px;
  width: 1000px;
  border: 7px solid rgb(74, 45, 163);
  border-radius: 5px;
  background-color: rgb(154, 117, 223);
  align-content: center;
}

.navbar {
  background-color: rgb(38, 10, 112);
  border-radius: 5px;
  height: 10%;
}

.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }